.header-container {
    display: flex;
    justify-content: space-between;
    font-family: "Jacquard 12";

    p {
        font-size: 3rem;
    }
    
    p:hover {
        cursor: pointer;
    }

    .bird-2 {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}